<tr>
	<td>
		<table class="content-section">
			<tr>
				<td>
					Mail by mail_track!			
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td>
		<table class="content-section">
			<tr>
				<td>
					Click those links:			
				</td>
			</tr>
		</table>
	</td>
</tr>
<% @email.links.each do |link| %>
	<tr>
		<td>
			<table class="content-section">
				<tr>
					<td>
						<%= link_to link.name, tracking_url(link), target: :blank %>
					</td>
				</tr>
			</table>
		</td>
	</tr>
<% end %>
<tr>
  <td id="tracking">
  	<img src="<%= tracking_image_url(@email) %>" alt="mail_track" />
  </td>
</tr>