<tr>
	<td>
		<table class="content-section">
			<tr>
				<td>
					Mail by mail_track!			
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
  <td id="tracking">
  	<%= image_tag 'tracking.gif', alt: 'mail_track' %>
  </td>
</tr>