<%= render "header" %>
<tr>
	<td>
		<table class="content-section">
			<tr>
				<td>
					Click those links:			
				</td>
			</tr>
			<% @email.links.each do |link| %>
				<%= render "link", link: link %>
			<% end %>
		</table>
	</td>
</tr>
<%= render "footer", object: @email %>