// Variables and Mixins
$white: #ffffff;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


// global
body {
	margin: 0;
	padding: 0;

	td {
		font-family: Verdana, Helvetica, Arial;
		font-size: 14px; 
		line-height: 16px;
		color: $white;
	}
}


td#wrapper {

	table#content {
		width: 600px;
		background-color: #ee4c50;

		table.content-section {
			padding: 30px 40px 0px;

			td#header {
				font-size: 18px;
			}

			tr.link {
				td {
					padding-left: 20px;
					line-height: 20px;
				}
			}
		}

		td#tracking {
			//display: none;
		}
	}
}