<div class="row">
	<table class="table">

		<thead>
			<th>recipient</th>
		</thead>

		<tbody>
		<% @emails.each do |email| %>
			<tr>
				<td><%= email.recipient %></td>
			</tr>
		<% end %>
		</tbody>
	</table>	
</div>