<%= render 'form' %>
<div class="row">
	<table class="table">

		<thead>
			<th>recipient</th>
			<th>opened</th>
			<th>≠</th>
		</thead>

		<tbody>
		<% @emails.each do |email| %>
			<tr>
				<td><%= email.recipient %></td>
				<td><%= pluralize(email.opened, 'time') %></td>
				<td>
					<%= link_to 'delete', email, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
			</tr>
		<% end %>
		</tbody>
	</table>	
</div>